<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6pQjSzQriUJRJhrN5bO4uDhh_2ls1VO8</string>
	<key>GCM_SENDER_ID</key>
	<string>151875711795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.load.quickload</string>
	<key>PROJECT_ID</key>
	<string>moving-rolls</string>
	<key>STORAGE_BUCKET</key>
	<string>moving-rolls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151875711795:ios:c2a1fba7474d675a8ec446</string>
</dict>
</plist>